asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
Django==3.2.4
idna==2.10
mysqlclient~=2.0.3
pendulum==2.1.2
python-dateutil==2.8.1
pytz==2021.1
pytzdata==2020.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
pyjwt==2.1.0
celery==5.1.2
channels==3.0.4
channels_redis==3.3.0
zulip==0.7.1
django_celery_results==2.2.0