celery==4.4.6
Django==3.2.4
flower==0.9.5
gevent==21.1.2
mysqlclient==2.0.3
redis==3.5.3
requests==2.25.1
urllib3==1.26.5
channels==3.0.3
django-celery-results==2.0.1
channels-redis==3.2.0
asgiref~=3.3.4
pendulum~=2.0
pandas~=1.2
openpyxl~=3.0
pyjwt==2.1.0