<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Chat Console</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <style>
    .table th.seq-no,
    .table td.seq-no {
      white-space: nowrap;
      width: 1%;
    }
    
    .form-group label {
      font-weight: bold;
    }
  </style>
</head>
<body>
  {% csrf_token %}
  <div class="contatiner-fluid p-3">
    <div class="form-group">
      <div class="row pb-2">
        <div class="col-md-4">
          <label>Welcome:</label>
          <span>{{ staff.staff_netid }}</span>
        </div>
        <div class="col-md-4">
          <label>Role:</label>
          <span>{{ staff.get_staff_role_display }}</span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-md-4">
          <label>Date:</label>
          <span class="date"></span>
        </div>
        <div class="col-md-4">
          <label>Time:</label>
          <span class="time"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Status:</label>
          <select id="staff-status-select" class="status-select custom-select" style="width:160px">
            {% for status in selectable_status %}
            <option value="{{status}}" {% if staff.staff_chat_status in status.options %} selected {% endif %}>{{status|capfirst}}</option>
            {% endfor %}
          </select>
          
        </div>
      </div>
      <hr>
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js' integrity='sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==' crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script>
    
    const getCookie = (name) => (
      document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    )

    $(document).ready(() => {
    })

    const host = window.location.host
    function createRoomEl(student_id) {
      return  `<a href="/main/createRoom/" target="_blank">${student_id}</a>`
    }

    function enterChatRoom(student_pk) {
      const el = `#chat-status-table tr[data-stud-key=${student_pk}] > td:first`
      const student_id = $(el).text()
      $(el).html(createRoomEl(student_id))
    }

    $('#staff-status-select').on('change', (e) => {
      const status = e.target.value
      $.ajax({
        type: 'POST',
        url: '/main/api/changeStatus/',
        headers: { 'X-CSRFToken': getCookie('csrftoken')},
        data: {'status': status},
        
        error: function(data){
          alert("Update status fail.")
        }
      })
    })
    
  
    function openWebSocket() {
      const ws = new WebSocket(`ws://${host}/ws/notify_assignment/`)
      ws.onopen = function(event) {
        console.debug('websocket opened')
      }
      ws.onclose = function(event) {
        console.debug('websocket closed')
      }
      const $this = $
      ws.onmessage = function(event) {
        let data = JSON.parse(event.data)
        if (data.type === 'assignment') {
          alert('New assignment!. Please start the chat with assigned student.')
          enterChatRoom(data.student_pk)
        }
      }
      return ws
    }
    
    var ws = openWebSocket()
    setInterval(() => {
      if (ws.readyState !== ws.OPEN) {
        ws = openWebSocket()
      }
    }, 5000)

    $('span.date').text(new Date()
      .toLocaleDateString('en-HK', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    );
    
    setInterval(() => {
      $('span.time').text(new Date()
      .toLocaleTimeString('en-HK', {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false
      }));
    }, 1000)

    $('.chat-status').each((idx, el) => {
      if ($(el).text() !== 'Assigned') return
      let student_pk = $(el).parent().attr('data-stud-key')
      const student_id = $(el).parent().find('td:first').text()
      $(el).parent().find('td:first').html(createRoomEl(student_id))
    })

  </script>
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>