<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Chat Console</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <style>
    .table th.seq-no,
    .table td.seq-no {
      white-space: nowrap;
      width: 1%;
    }

    .form-group label {
      font-weight: bold;
    }

    #assigned {
      background-color: #c9ecd0
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c9ffff">
    <a class="navbar-brand" href="#">Chat Console</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main/page/staffstatus/">Staff Status</a>
        </li>
      </ul>
    </div>
    <button class="btn logout-btn my-2 my-sm-0" type="button" style="background-color: #dcdcdc">Logout</button>
  </nav>
  {% csrf_token %}
  <div class="contatiner-fluid p-3">
    <div class="form-group">
      <div class="row pb-2">
        <div class="col-md-4">
          <label>Welcome:</label>
          <span>{{ staff.staff_netid }}</span>
        </div>
        <div class="col-md-4">
          <label>Role:</label>
          <span>{{ staff.get_staff_role_display }}</span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-md-4">
          <label>Date:</label>
          <span class="date"></span>
        </div>
        <div class="col-md-4">
          <label>Time:</label>
          <span class="time"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Status:</label>
          <select id="staff-status-select" class="status-select custom-select" style="width:160px">
            {% for label, values in selectable_status.items %}
            <option value="{{label}}" {% if staff.staff_chat_status in values %} selected {% endif %}>{{label|capfirst}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <hr>
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js' integrity='sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==' crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>

    const host = window.location.host
    const getCookie = (name) => (
      document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    )

    $(document).ready(() => {
    })

    $(document).on('click', '.start-chat-with-student', (e) => {
      const student_netid = e.target.getAttribute("data-student-netid");
      const staff_netid = e.target.getAttribute("data-staff-netid");
      $.ajax({
        type: 'POST',
        url: '/main/debug/startchat/',
        headers: { 'X-CSRFToken': getCookie('csrftoken')},
        data: {
          'student_netid': student_netid,
          'staff_netid': staff_netid,
        },
        success: () => {
          const a = document.createElement('a');
          a.target= "_blank";
          a.href= `/main/chat/counsellor/?student_netid=${student_netid}&staff_netid=${staff_netid}`;
          a.click();
        },
        error: (data) => {
          alert("Failed to start chatting.")
        }
      })
    });

    /**
     * Create the room creation link
     * @param student_id
     * @returns {string}
     */
    function createRoomEl(student_id) {
      const staff_netid = '{{ staff.staff_netid }}';
      return  `<a href="javascript:void(0)" data-student-netid="${student_id}" data-staff-netid="${staff_netid}" class="start-chat-with-student">${student_id}</a>`
    }


    $('#staff-status-select').on('change', (e) => {
      const status = e.target.value
      $.ajax({
        type: 'POST',
        url: '/main/api/updatestaff/',
        headers: { 'X-CSRFToken': getCookie('csrftoken')},
        data: {'status': status},
        success: () => {
          location.reload()
        },
        error: (data) => {
          alert("Status update fail.")
        }
      })
    })

    $('.logout-btn').on('click', () => {
      axios.get('/main/api/logout/').then((res) => {
        window.location.href = res.request.responseURL // redirect
      })
    })

    /**
     * Create a websocket for notifying staff of the chat assignment event
     * @returns {WebSocket}
     */
    function openWebSocket() {
      let protocol = window.location.protocol === 'https:' ? 'wss' : 'ws'
      const ws = new WebSocket(`${protocol}://${host}/ws/notify_assignment/`)
      ws.onopen = function(event) {
        console.debug('websocket opened')
      }
      ws.onclose = function(event) {
        console.debug('websocket closed')
      }
      const $this = $
      ws.onmessage = function(event) {
        let data = JSON.parse(event.data)
        if (data.type === 'update_queue') {
          location.reload()
        } else if (data.type === 'assignment') {
          alert('You have an incoming chat request, please click the link to enter the chat room.')
          location.reload()
        }
      }
      return ws
    }

    var ws = openWebSocket()
    setInterval(() => {
      if (ws.readyState !== ws.OPEN) {
        ws = openWebSocket()
      }
    }, 5000)

    $('span.date').text(new Date()
      .toLocaleDateString('en-HK', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    );

    setInterval(() => {
      $('span.time').text(new Date()
      .toLocaleTimeString('en-HK', {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false
      }));
    }, 1000)

    $('.chat-status').each((idx, el) => {
      if ($(el).text() !== 'Assigned') return
      const assignRow = $(el).parent().attr('id', 'assigned')
      const student_id = assignRow.find('td:first')[0].getAttribute('data-student-netid')
      assignRow.find('td:first').html(createRoomEl(student_id))
    })

  </script>
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
