<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Chat Console</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <style>
    .table th.seq-no,
    .table td.seq-no {
      white-space: nowrap;
      width: 1%;
    }

    .form-group label {
      font-weight: bold;
    }

    #assigned {
      background-color: #c9ecd0
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c9ffff">
    <a class="navbar-brand" href="/main/page/chatconsole/">Chat Console</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main/page/staffstatus/">Staff Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/page/statistics/">Statistics</a>
        </li>
      </ul>
    </div>
    <button class="btn logout-btn my-2 my-sm-0" type="button" style="background-color: #dcdcdc">Logout</button>
  </nav>
  {% csrf_token %}
  <div class="contatiner-fluid p-3">
    <div class="form-group">
      <div class="row pb-2">
        <div class="col-md-4">
          <label>Welcome:</label>
          <span>{{ staff.staff_netid }}</span>
        </div>
        <div class="col-md-4">
          <label>Role:</label>
          <span>{{ staff.get_staff_role_display }}</span>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-md-4">
          <label>Date:</label>
          <span class="date"></span>
        </div>
        <div class="col-md-4">
          <label>Time:</label>
          <span class="time"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Status:</label>
          <select id="staff-status-select" class="status-select custom-select" style="width:160px">
            {% for label, values in selectable_status.items %}
            <option value="{{label}}" {% if staff.staff_chat_status in values %} selected {% endif %}>{{label|capfirst}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <hr>
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js' integrity='sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==' crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const host = window.location.host
    const getCookie = (name) => (
      document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    )

    const statOverviewData = {
      total_access_count: '',
      access_office_hr_count: '',
      polyu_student_count: '',
      non_polyu_student_count: '',
      score_green_count: '',
      score_yellow_count: '',
      score_red_count: '',
      poss_access_count: '',
      mh101_access_count: '',
      online_chat_access_count: '',
      successful_chat_count: ''
    }

    const statOverviewTableHTML = (statOverviewData) => `
        <table class="table col-sm-6 table-bordered" id="statOverviewTable">
          <thead>
            <tr>
             <th scope="col">Items</th>
             <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <th scope="row">No. of access</th>
             <td>${statOverviewData.total_access_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row">No. of office hour access</th>
             <td>${statOverviewData.access_office_hr_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row">No. of PolyU student</th>
             <td>${statOverviewData.polyu_student_count}</td>
            </tr>
            <tr>
             <th scope="row">No. of non-student</th>
             <td>${statOverviewData.non_polyu_student_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row" rowspan="3">Scores count</th>
             <td style="color: green">${statOverviewData.score_green_count.toLocaleString()}</td>
            </tr>
            <tr>
             <td style="color: #b9b900">${statOverviewData.score_yellow_count.toLocaleString()}</td>
            </tr>
            <tr>
             <td style="color: red">${statOverviewData.score_red_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row">No. of access to POSS</th>
             <td>${statOverviewData.poss_access_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row">No. of access to Mental Health 101</th>
             <td>${statOverviewData.mh101_access_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row">No. of access to Online Chat Service</th>
             <td>${statOverviewData.online_chat_access_count.toLocaleString()}</td>
            </tr>
            <tr>
             <th scope="row">No. of successful chat with counsellor</th>
             <td>${statOverviewData.successful_chat_count.toLocaleString()}</td>
            </tr>
          </tbody>
        </table>
      `

    const redRouteTableHTML = (redRouteTableData) => {
      let tableHead = (tableBody) => `
        <table class="table col-sm-6 table-bordered table-striped" id="redRouteTable">
          <thead>
            <tr>
             <th scope="col">#</th>
             <th scope="col">Student ID</th>
             <th scope="col">Date</th>
             <th scope="col">Start Time</th>
             <th scope="col">End Time</th>
            </tr>
          </thead>
          ${tableBody}
        </table>
      `

      let tableBody = (item, idx) => `
        <tbody>
          <tr>
           <th scope="row">${idx}</th>
           <td>${item.student_netid}</td>
           <td>${item.date}</td>
           <td>${item.start_time}</td>
           <td>${item.end_time}</td>
          </tr>
        </tbody>
      `
      const renderedTableBody = redRouteTableData.reduce((acc, item, idx) => acc + tableBody(item, idx + 1), '')
      return tableHead(renderedTableBody)
    }


    $(document).ready(() => {
      $('#statOverviewTable').replaceWith(statOverviewTableHTML(statOverviewData))
      $('#redRouteTable').replaceWith(redRouteTableHTML([]))
    })

    $(document).on('click', '.start-chat-with-student', (e) => {
      const student_netid = e.target.getAttribute("data-student-netid");
      const staff_netid = e.target.getAttribute("data-staff-netid");
      const status = e.target.getAttribute("data-status");

      if (status === 'assigned') {
        $.ajax({
          type: 'POST',
          url: '/main/debug/startchat/',
          headers: { 'X-CSRFToken': getCookie('csrftoken')},
          data: {
            'student_netid': student_netid,
            'staff_netid': staff_netid,
          },
          success: () => {
            const a = document.createElement('a');
            a.target= "_blank";
            a.href= `/main/chat/counsellor/`;
            a.click();
          },
          error: (data) => {
            alert("Failed to start chatting.")
          }
        });
      }

      if (status === 'chatting') {
        const a = document.createElement('a');
        a.target= "_blank";
        a.href= `/main/chat/counsellor/`;
        a.click();
      }
    });

    /**
     * Create the room creation link
     * @param student_id
     * @returns {string}
     */
    function createRoomEl(student_id, status) {
      const staff_netid = '{{ staff.staff_netid }}';
      return  `<a href="javascript:void(0)" data-student-netid="${student_id}" data-staff-netid="${staff_netid}" data-status="${status}" class="start-chat-with-student">${student_id}</a>`
    }


    $('#staff-status-select').on('change', (e) => {
      const status = e.target.value
      $.ajax({
        type: 'POST',
        url: '/main/api/updatestaff/',
        headers: { 'X-CSRFToken': getCookie('csrftoken')},
        data: {'status': status},
        success: () => {
          location.reload()
        },
        error: (data) => {
          alert("Status update fail.")
        }
      })
    })

    $('.logout-btn').on('click', () => {
      axios.get('/main/api/logout/').then((res) => {
        window.location.href = res.request.responseURL // redirect
      })
    })

    /**
     * Create a websocket for notifying staff of the chat assignment event
     * @returns {WebSocket}
     */
    function openWebSocket() {
      let protocol = window.location.protocol === 'https:' ? 'wss' : 'ws'
      const ws = new WebSocket(`${protocol}://${host}/ws/notify_assignment/`)
      ws.onopen = function(event) {
        console.debug('websocket opened')
      }
      ws.onclose = function(event) {
        console.debug('websocket closed')
      }
      const $this = $
      ws.onmessage = function(event) {
        let data = JSON.parse(event.data)
        if (data.type === 'update_queue') {
          location.reload()
        } else if (data.type === 'assignment') {
          alert('You have an incoming chat request, please click the link to enter the chat room.')
          location.reload()
        }
      }
      return ws
    }

    var ws = openWebSocket()
    setInterval(() => {
      if (ws.readyState !== ws.OPEN) {
        ws = openWebSocket()
      }
    }, 5000)

    $('span.date').text(new Date()
      .toLocaleDateString('en-HK', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    );

    setInterval(() => {
      $('span.time').text(new Date()
      .toLocaleTimeString('en-HK', {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false
      }));
    }, 1000)

    $('.chat-status').each((idx, el) => {
      const status = $(el).text().toLocaleLowerCase();
      if (status !== 'assigned' && status !== 'chatting') return
      const assignRow = $(el).parent().attr('id', status)
      const student_id = assignRow.find('td:first')[0].getAttribute('data-student-netid')
      assignRow.find('td:first').html(createRoomEl(student_id, status))
    })

    // FIXME remove later
    setTimeout(function(){
      window.location.reload(1);
    }, 30000);

    function fileDownload(blob_data, filename) {
      const url = window.URL.createObjectURL(blob_data);
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', filename); //or any other extension
      document.body.appendChild(link);
      link.click();
      window.URL.revokeObjectURL(url);
    };

    $('#stat-overview__fromDate').on('change', (e) => {
        $('#stat-overview__toDate')[0].min = e.target.value;
    });
    $('#stat-overview__toDate').on('change', (e) => {
        $('#stat-overview__fromDate')[0].max = e.target.value;
    });

    $('#stat-overview__submit').on('click', () => {
        const fromDate = $('#stat-overview__fromDate')[0].value
        const toDate = $('#stat-overview__toDate')[0].value

        if (!(fromDate && toDate)) {
            alert('Please select a valid date range!')
            return
        }
        axios.post('/main/api/get_statistics/', {
            fromDate: fromDate,
            toDate: toDate
          }, {
            headers: { 'X-CSRFToken': getCookie('csrftoken')}
          }).then((res) => {
            Object.assign(statOverviewData, res.data)
            $('#statOverviewTable').replaceWith(statOverviewTableHTML(statOverviewData))
        })
    });

    $('#stat-overview__export').on('click', () => {
        const fromDate = $('#stat-overview__fromDate')[0].value
        const toDate = $('#stat-overview__toDate')[0].value

        if (!(fromDate && toDate)) {
            alert('Please select a valid date range!')
            return
        }

        axios.post('/main/api/export_statistics/', {
            fromDate: fromDate,
            toDate: toDate
        }, {
            headers: { 'X-CSRFToken': getCookie('csrftoken')},
            responseType: 'blob'
        }).then((res) => {
          fileDownload(res.data, 'statistics_overview.xlsx')
        })
    });

    $('#red-route__beforeDate')[0].max = new Date().toISOString().split("T")[0]

    $('#red-route__submit').on('click', () => {
        const beforeDate = $('#red-route__beforeDate')[0].value

        if (!beforeDate) {
            alert('Please enter a valid date!')
            return
        }
        axios.post('/main/api/get_red_route/', {
            beforeDate: beforeDate,
        }, {
            headers: { 'X-CSRFToken': getCookie('csrftoken')}
        }).then((res) => {
            $('#redRouteTable').replaceWith(redRouteTableHTML(res.data))
        })
    });

    $('#red-route__export').on('click', () => {
        const beforeDate = $('#red-route__beforeDate')[0].value

        if (!beforeDate) {
            alert('Please enter a valid date!')
            return
        }

        axios.post('/main/api/export_red_route/', {
            beforeDate: beforeDate,
        }, {
            headers: { 'X-CSRFToken': getCookie('csrftoken')},
            responseType: 'blob'
        }).then((res) => {
            fileDownload(res.data, 'red_route.xlsx')
        })
    });
    
  </script>
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
