{% extends 'main/chatConsole.html' %}
{% block content %}
<div class="table-container">
  <table class="table table-striped table-bordered table-responsive-md">
    <thead>
      <tr>
        <th scope="col" class="fit">Waiting Sequence</th>
        <th scope="col">Student ID</th>
        <th scope="col">Time (request time)</th>
        <th scope="col">Status</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <th scope="row" class="fit">{{ forloop.counter }}</th>
        <td>{{ student.student_netid }}</td>
        <td>{{ student.chat_request_time|time:'H:i:s' }}</td>
        <td>{{ student.get_student_chat_status_display }}</td>
        <td>{{ student.chat_request_time|timesince:now }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}