<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dialogggg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>         old version-->
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>


    {% load static %}
    <script src="{% static 'botui-master/build/botui.js' %}"></script>
    <!--<link rel="stylesheet" href="{% static 'botui-master/build/botui.min.css' %}" />-->
    <!--<link rel="stylesheet" href="{% static 'botui-master/build/botui-theme-default.css' %}" />-->

    <!--<script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://malsup.github.io/jquery.form.js"></script>


    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    {% block body %}
    <div class="container" style="background-color: #f7f8f8">
        <div class="jumbotron" style="background-color: #f7f8f8">

            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="chatbox" style="height: 600px">
                    <bot-ui style="background-color: aliceblue;"></bot-ui>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="jumbotron" style="background-color: #f7f8f8">
            <br>
            <br>
        </div>
    </div>

</body>
{% endblock body %}



{% block javascript %}
{% endblock javascript %}
<script>
    var office_hour = true;
    var botui = new BotUI('chatbox');
    var content = document.getElementsByTagName('chatbox');
    var user_input = 'default';
    var netid = 0;
    var passwd = 0;
    var nickname = 'User';

    botui.message.add({
        content: 'Hello (Greeting Message 1), Are you a student in PolyU?'
    }).then(function () {
        return botui.action.button({
            addMessage: false,
            action: [{
                text: 'Yes',
                value: 'yes'
            }, {
                text: 'No',
                value: 'no'
            }]
        })
    }).then(function (res) {
        if (res.value == 'no') {
            botui.message.human({
                delay: 500,
                content: 'No'
            });
            botui.message.add({
                delay: 600,
                content: 'Sorry! We only server for PolyU students.'
            });
            botui.message.add({
                delay: 700,
                content: 'Bye bye!'
            });
            end();
        } else {
            botui.message.human({
                delay: 500,
                content: res.text
            });
            verification();
        }

    })

    function verification() {
        botui.message.bot({
            delay: 500,
            content: 'Please input your PolyU netid and Password:'
        }).then(function () {
            return botui.action.text({
                addMessage: false,
                action: {
                    size: 30,
                    placeholder: 'PolyU netid'
                }
            });
        }).then(function (res) {
            netid = res.value;
            return botui.action.text({
                addMessage: false,
                action: {
                    size: 30,
                    sub_type: 'password',
                    placeholder: 'passwd'
                }
            });
        }).then(function (res) {
            passwd = res.value;
            /*
             ************************
             ## netid & passwd has stored in variables.
             This part we need backend verification.
            */
            get_nickname();
        });
    }

    function get_nickname() {
        botui.message.add({
            content: 'Welcome! What would you like we call you?'
        }).then(function () {
            return botui.action.text({
                addMessage: false,
                action: {
                    size: 30,
                    placeholder: 'Nickname'
                }
            });
        }).then(function (res) {
            nickname = res.value;
            T_and_C();
        });
    }


    function T_and_C() {
        botui.message.add({
            content: 'Hi ' + nickname + '! If you want to talk to the counselor, *[This is the T and C of our system]*, do you accept it?'
        }).then(function () {
            return botui.action.button({
                addMessage: false,
                action: [{
                    text: 'Yes',
                    value: 'yes'
                }, {
                    text: 'No',
                    value: 'no'
                }]
            })
        }).then(function (res) {
            if (res.value == 'no') {
                botui.message.human({
                    delay: 500,
                    content: 'No'
                });
                botui.message.add({
                    delay: 600,
                    content: 'Sorry! You can still call 2766 6800 for conselling.'
                });
                botui.message.add({
                    delay: 700,
                    content: 'Bye bye!'
                });
                end();
            } else {
                botui.message.human({
                    content: res.text
                });
                botui.message.add({
                    content: 'If you want to talk to the counselor, take a quiz to get to know yourself, or talk to me after you know it.'
                });
                questions();
            }
        });
    }

    function questions() {
        botui.message.add({
            delay: 700,
            content: 'What\'s upsetting you recently?'
        }).then(function () {
            return botui.action.select({
                action: {
                    placeholder: "Select a option",
                    value: '0',
                    options: [
                        { value: "0", text: "Studies" },
                        { value: "1", text: "Interpersonal relationships" },
                        { value: "2", text: "Work" },
                        { value: "3", text: "Relationships" },
                        { value: "4", text: "Family" },
                        { value: "5", text: "Society" },
                        { value: "6", text: "Other" },
                        { value: "7", text: "None" },
                    ],
                    button: {
                        icon: 'check',
                        label: 'OK'
                    }
                }
            })
        }).then(function (res) {
            botui.message.add({
                content: 'Do you often feel depressed?'
            }).then(function () {
                return botui.action.button({
                    action: [{ value: "1", text: "Very little" },
                    { value: "2", text: "Less" },
                    { value: "3", text: "Fair" },
                    { value: "4", text: "More" },
                    { value: "5", text: "Very much" }]

                })
            }).then(function (res) {
                botui.message.add({
                    content: 'How long does this low mood last?'
                }).then(function () {
                    return botui.action.button({
                        action: [{ value: "1", text: "Very few" },
                        { value: "2", text: "A few days" },
                        { value: "3", text: "A week" },
                        { value: "4", text: "More than a week" },
                        { value: "5", text: "More than a month" }]

                    })
                }).then(function (res) {
                    botui.message.add({
                        content: 'Will this emotional state affect your life at this moment?'
                    }).then(function () {
                        return botui.action.button({
                            action:
                                [{ value: "1", text: "Very little" },
                                { value: "2", text: "Less" },
                                { value: "3", text: "Fair" },
                                { value: "4", text: "More" },
                                { value: "5", text: "Very much" }]

                        })
                    }).then(function (res) {
                        botui.message.add({
                            content: 'Have you often felt helpless lately?'
                        }).then(function () {
                            return botui.action.button({
                                action: [{ value: "1", text: "Very little" },
                                { value: "2", text: "Less" },
                                { value: "3", text: "Fair" },
                                { value: "4", text: "More" },
                                { value: "5", text: "Very much" }]

                            })
                        }).then(function (res) {
                            confirm_answer();
                        })
                    })
                })
            })
        })
    }

    function confirm_answer() {
        botui.message.add({
            content: ' Do you confirm your answer?'
        }).then(function () {
            return botui.action.button({
                addMessage: false,
                action: [{
                    text: 'Yes',
                    value: 'yes'
                }, {
                    text: 'No',
                    value: 'no'
                }]
            })
        }).then(function (res) {
            if (res.value == 'no') {
                botui.message.human({
                    delay: 500,
                    content: 'No'
                });
                botui.message.add({
                    delay: 600,
                    content: 'You can do the questionnaire it again.'
                });
                questions();
            } else {
                botui.message.human({
                    content: res.text
                });
                botui.message.add({
                    content: 'Ok, please wait, we are calculating your score...'
                });
                dispatch();
            }
        });
    }


    var score = 6;
    function dispatch() {
        if (score <= 5) {
            low();
        } else if (score <= 10) {
            medium();
        } else {
            high();
        }
    }

    function low() {
        botui.message.add({
            content: 'We provide you several suggestions: <br/><br/> 1. Refer to [Mental Health 101](https://www.google.com/) <br/> 2. Make appointment with counsellor in [POSS](https://www40.polyu.edu.hk/poss/secure/login/loginhome.do/)  <br/> 3. Call 2766 6800'
        })
    }
    function medium() {

        if (office_hour == true) {
            botui.message.add({
                content: 'We provide you several suggestions: <br/><br/> 1. Make appointment with counsellor in [POSS](https://www40.polyu.edu.hk/poss/secure/login/loginhome.do/)   <br/> 2.  Refer to [Mental Health 101](https://www.google.com/) <br/> 3. Call the Community Helpline <br/> 4. Call 2766 6800'
            });
            confirm_chatting();

        }
        else {
            botui.message.add({
                content: 'Sorry, currently it is not the office hour, we provide you several suggestions: <br/><br/> 1. Make appointment with counsellor in [POSS](https://www40.polyu.edu.hk/poss/secure/login/loginhome.do/)   <br/> 2.  Refer to [Mental Health 101](https://www.google.com/) <br/> 3. Call the Community Helpline <br/> 4. PolyU LINE 8100 1583'
            })
        }
    }

    function high() {

    }

    function confirm_chatting() {
        botui.message.add({
            delay: 1500,
            content: 'Or, you can also try our online chatting service'
        }).then(function () {
            return botui.action.button({
                addMessage: false,
                action: [{
                    text: 'OK',
                    value: 'yes'
                }, {
                    text: 'No',
                    value: 'no'
                }]
            })
        }).then(function (res) {
            if (res.value == 'no') {
                botui.message.human({
                    delay: 500,
                    content: 'No'
                });
                botui.message.add({
                    delay: 700,
                    content: 'Bye bye!'
                });
                end();
            } else {
                botui.message.human({
                    content: res.text
                });
                online_chatting();
            }
        });

    }
    function online_chatting() {
        botui.message.add({
            content: 'Hi ' + nickname + '! If you want to talk to the counselor, *[This is the T and C of our system]*, do you accept it?'
        }).then(function () {
            return botui.action.button({
                addMessage: false,
                action: [{
                    text: 'Yes',
                    value: 'yes'
                }, {
                    text: 'No',
                    value: 'no'
                }]
            })
        }).then(function (res) {
            if (res.value == 'no') {
                botui.message.human({
                    delay: 500,
                    content: 'No'
                });
                botui.message.add({
                    delay: 600,
                    content: 'Sorry! You can still call 2766 6800 for conselling.'
                });
                botui.message.add({
                    delay: 700,
                    content: 'Bye bye!'
                });
                end();
            } else {
                botui.message.human({
                    content: res.text
                });
                botui.message.add({
                    content: 'Some questions before online chatting'
                }).then(questions_before_online_chatting())
            }
        });
    }

    function questions_before_online_chatting() {

        botui.message.add({
            delay: 700,
            content: 'Is it an existing case?'
        }).then(function () {
            return botui.action.button({
                addMessage: false,
                action: [{
                    text: 'Yes',
                    value: 'yes'
                }, {
                    text: 'No',
                    value: 'no'
                }]
            })
        }).then(function (res) {
            if (res.value == 'yes') {
                botui.message.add('We provide you several suggestions: <br/><br/> 1. Refer to [Mental Health 101](https://www.google.com/) <br/> 2. Make appointment with existing counsellor in [POSS](https://www40.polyu.edu.hk/poss/secure/login/loginhome.do/)')
                // option 1
                // option 2
            } else {
                botui.message.add({
                    delay: 700,
                    content: 'Do you have mental health history?'
                }).then(function () {
                    return botui.action.button({
                        addMessage: false,
                        action: [{
                            text: 'Yes',
                            value: 'yes'
                        }, {
                            text: 'No',
                            value: 'no'
                        }]
                    })
                }).then(function (res) {
                    if (res.value == 'yes') {
                        if (office_hour == true) {
                            botui.message.add({
                                content: 'We provide you several suggestions: <br/><br/> 1. Make appointment with counsellor in [POSS](https://www40.polyu.edu.hk/poss/secure/login/loginhome.do/)   <br/> 2. Call 2766 6800'
                            }).then(confirm_chatting())
                        }
                        else {
                            botui.message.add({
                                content: 'Sorry, currently it is not the office hour, we adive you to call PolyU LINE 8100 1583'
                            })
                        }
                    } else {
                        process_to_online_chat()
                    }
                })
            }
        })
    }

    function process_to_online_chat() {
        var service_hour = false;
        if (service_hour == false) {
            botui.message.add({
                content: 'No counsellor avaliable.'
            })
        } else {
            // online_chatting_request
        }
    }
    /*
    function chatting () {
        botui.action.text({ // show 'text' action
                action: {
                    placeholder: 'Enter here'
                }
        }).then(function (res) { // get the result
            if(res.value != 'exit') {
                $(this).ajaxSubmit({
                  type: 'post',
                  url: "{% url 'auto_response' %}",
                  data:{
                      'post': res.value
                  },
                  success: function(data) {
                      response = data;
                      botui.message.add({
                        content: response
                      }).then(chatting())
                  }
                });
            } else {
                botui.message.add({
                    content: 'Bye bye!'
                });
            }
        });
    }
    */







</script>

</html>