
{% extends "main/clientBase.html" %}
{% load static %}


{% block custom_style %}
<style>

.top-banner {
  height: 65vw;
  max-height: 680px;
}

.top-banner-description {
    text-align: center;
    line-height: 10px;
    position: absolute;
    z-index: 10;
    top: 32vw;
    left: 50%;
    margin-left: -380px;
    margin-top: -25px;
}

.login-button {
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 40vw;
  left: 50%;
  margin-left: -15px;
  margin-top: -27px;
}

.login-button button {
    background-color: #ffb741;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 15px;
}

@media (max-width: 860px) {
    .top-banner-header {
        font-size: 25px;
        margin-left: -108px;
        margin-top: -50px;
    }

    .top-banner-description {
        top: 35vw;
        line-height: initial;
        margin-left: -50%;
    }

    .login-button {
        top: 55vw;
    }
}

@media (max-width: 576px) { 

  .top-banner-header {
    font-size: 18px;
    margin-left: -78px;
    margin-top: -46px;
  }
  .top-banner-description {
      font-size: 12px;
      top: 35vw;
      line-height: initial;
      margin-left: -50%;
  }

  .login-button{
    top: 60vw;
    margin-left: -36px;
  }

  .login-button button {
    padding: 3px 8px;
    font-size: 12px;
  }
}
</style>
{% endblock%}

{% block top_banner_content %}
<section>
  <div class="top-banner">
    <img class="top-sao-logo-img" src="{% static 'Polly-graphics/general/login-top-banner.png' %}"></img>
    <div class="top-sao-logo"></div>
    <div class="top-banner-header">
        <p>Integrated</p>
        <p>Counselling Service</p>
    </div>
    <div class="top-banner-description">
      <p>Welcome to Integrated Counselling Service!</p>
      <p>We are here to recommend to our psychological services that will suit your needs. let's start and explore!</p>
    </div>
    <form method="GET" action="{% url 'index' %}">
      <div class="login-button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</section>


{% endblock%}

{% block main_content %}

<section class="main-content">
  <div class="container">
      <div class="max-width-2">
          <div class="row justify-content-center">
              <div class="col-sm col-md-10 col-lg-8">
                  
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock main_content %}

{% block footer_script %}
{% endblock footer_script%}
</html>
