{% extends "clientBase.html" %}
{% load static %}


{% block custom_style %}
  <style type="text/css">

    .top-banner {
        padding-top: 37%; 
        position: relative;
        background-color: #fefae4;
    }
    
    .top-sao-logo-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
    }

    .main-content {
        padding-top: 10px;
        padding-bottom: 60px;
    }


    .botui-header {
      position: sticky;
      z-index: 1;
      top: 0;
      padding-top: 0;
      background: none;
      background-color: #fcb040;
      display: inline-flex;
      flex-direction: row;
      padding: 10px 0px 0px 10px;
      border-radius: 15px 15px 0px 0px;
    }

    .botui-header-info {
      flex: 3;
      font-size: 12;
    }

    .info-flex {
      display: flex;
    }

    .info-flex label {
      flex: 1;
    }

    .botui-header-polly {
      background: url("/static/Polly-graphics/general/polly-full.png") no-repeat; 
      background-size: contain;
      flex: auto;
    }

     @media (max-width: 768px) {
      .top-banner-header-1 {
        font-size: 25px;
      }
    }

    @media (max-width: 468px) {
        .top-banner-header-1 {
            font-size: 16px;

        }
    }
  </style>
  {% endblock %}


{% block top_banner_content %}
<section class="top-banner">
  <img class="top-sao-logo-img" src="{% static 'Polly-graphics/general/polly-landing-topbanner.png' %}"></img>
</section>
{% endblock top_banner_content %}


  {% block main_content %}
  {% csrf_token %}
    <section class="main-content">
      <div class="container">
        <div class="max-width-2">
          <div class="row justify-content-center">
            <div class="col-sm col-md-10 col-lg-8">
              <div class="chatbox-wrapper">
                <div id="chatbox" class="botui">
                  <div class="botui-header">
                    <div class="botui-header-polly"></div>
                    <div class="botui-header-info">
                      <div class="info-flex">
                        <label>Student ID</label>
                        <label>: 18071135r</label>
                      </div>
                      <div class="info-flex">
                        <label>Personal Contact Number</label>
                        <label>: 54865986</label>
                      </div>
                      <div class="info-flex">
                        <label>Emergency Contact Name</label>
                        <label>: Chan Tai Man</label>
                      </div>
                      <div class="info-flex">
                        <label>Relationship</label>
                        <label>: Friend</label>
                      </div>
                      <div class="info-flex">
                        <label>Emergency Contact Number</label>
                        <label>: 12345678</label>
                      </div>
                    </div>
                  </div>
                  <bot-ui> </bot-ui>
                </div>
                <div class="send-message-div">
                  <div class="input-area input-group mb-3">
                    <input
                      type="text"
                      class="form-control botui-actions-text-input"
                      placeholder="Enter your text here"
                      aria-label="Enter your text here"
                      aria-describedby="button-addon2"
                      id="message-text"
                    />
                    <input hidden id="polly-img" value={% static "Polly-graphics/general/counsellor.png" %}/>
                    <input hidden id="client-img" value={% static "Polly-graphics/general/student.png" %}/>
                    <input hidden id="supervisor-img" value={% static "Polly-graphics/general/supervisor.png" %}/>
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="send-message-btn"
                      >
                        Send
                      </button>
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="counsellor-leave-chatroom-btn"
                      >
                        Leave
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
  {% endblock main_content %}
  {% block footer_script %}
  <script>
    const isSupervisorPage = false;
    const isCounsellorPage = true;
    const isStudentPage = false;
    let studentEmail = "{{student_email}}";
    const studentNetid = "{{student_netid}}";
    const apiKey = "{{key}}";
    const staffEmail = "{{staff_email}}";
    const staffNetid = "{{staff_netid}}";
    const streamName = "{{stream_name}}";
    const streamId = {{stream_id}};
    const zulipRealm = "{{zulip_realm}}";

    const botui = new BotUI("chatbox");
    const content = document.getElementsByTagName("chatbox");
  </script>
  {% endblock footer_script %}
</html>
